[General]
destinationAddress = mw.prokopto.dev
port = 25566
playerName =
password =
rememberAccount = false
accountPasswordHash =
loginBackground = mygui\login\textures\communitymp-causeway.jpg
loginBackgroundSlides = mygui\login\textures\communitymp-causeway.jpg;mygui\login\textures\communitymp-gathering.jpg;mygui\login\textures\communitymp-server-hall.jpg;mygui\login\textures\communitymp-ashlands-hero.jpg
loginBackgroundEffects = true
loginAtmosphereOverlay = mygui\login\textures\communitymp_login_atmosphere.png
loginSlideSeconds = 6
loginLogo = mygui\login\textures\communitymp-logo.png
loginMusic = music/communitymp/nightinthedesertmix.ogg
# 0 - Verbose (spam), 1 - Info, 2 - Warnings, 3 - Errors, 4 - Only fatal errors
logLevel = 0

[Master]
address = master.communitymp.com
port = 25560

[Chat]
# Use https://wiki.libsdl.org/SDL_Keycode to find the correct key codes when rebinding
#
# For chatting
keySay = Y
# For enabling or disabling the chat window
keyChatMode = F2
x = 0
y = 0
w = 390
h = 250
# How long the message will be displayed in hidden mode
delay = 5.0
